.top-bar {
  background: #1f1f2e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.nav-logo {
  height: 40px;
  width: auto;
}

.top-nav {
  background: #1f1f2e;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
}

.nav-btn {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  background: #343454;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #4d4d72;
}

.logout {
  background: #a94444;
}

.logout:hover {
  background: #c65656;
}

.content {
  padding: 30px;
  color: white;
}

.site-footer {
  margin-top: 40px;
  padding: 15px 20px;
  background: #1f1f2e;
  color: #ccc;
  text-align: center;

  border-top: 1px solid #343454;
  font-size: 14px;
}

.site-footer p {
  margin: 0;
  opacity: 0.8;
}
